fastapi==0.111.0
uvicorn[standard]==0.29.0
python-jose[cryptography]==3.3.0
bcrypt==4.2.1
python-multipart==0.0.9
pydantic==2.7.1
pydantic-settings==2.2.1
pyftpdlib==1.5.9
aiofiles==23.2.1
PyYAML==6.0.1
python-dotenv==1.0.1
Jinja2==3.1.4
watchdog==4.0.0
cryptography==42.0.8
impacket==0.12.0
